.showcase {
    width: auto;
    height: 100%;
    position: relative;
}

.showcase img:nth-of-type(2){
    position: absolute;
    left: 18px;
    top: 0px;
    z-index: 25;
}

.showcase img:nth-of-type(3){
    position: absolute;
    left: 36px;
    top: 0px;
    z-index: 26;
}

.showcase img:nth-of-type(4){
    position: absolute;
    left: 54px;
    top: 0px;
    z-index: 27;
}

.showcase img:nth-of-type(5){
    position: absolute;
    left: 72px;
    top: 0px;
    z-index: 28;
}